extends ./adminTemplate

block title
    title Transactions
block loob
    #content.column
        h2.ui.huge.header.center.aligned Transaction Report
        table.ui.single.line.striped.selectable.table
            thead
                tr
                    th Transaction Number
                    th Tutor
                    th Student
                    th Subject
                    th Number of Sessions
                    th Status
            tbody
            each transaction in resultsForPug
                tr
                    td #{transaction.intTransactionID}
                    td #{transaction.strTutorUserName}
                    td #{transaction.strStudentUserName}
                    td #{transaction.strSubjectDesc}
                    td #{transaction.intOfferedNoOfSessions}
                    if transaction.boolIsAccepted == 1
                        td Settled
                    else
                        td Pending